<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><strong>TimeKeepr</strong> <small class="text-muted">v0.1</small></a>
        <ul class="navbar-nav mr-auto">
            <LoginDisplay />
        </ul>
    </div>
</nav>