@page "/"

<PageTitle>TimeKeepr</PageTitle>

<AuthorizeView>
    <Authorized>
        <Dashboard />
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="page-header">Welcome to TimeKeepr</h3>
                <p>Log in or Register to get started</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-end">
                <a href="/user/login">Log In</a>
            </div>
            <div class="col-6 text-start">
                <a href="/user/register">Register</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>