<div class="card shadow" @onclick='() => Navigation.NavigateTo($"/{Date.Year}/holidays")'>
    <div class="card-body">
        <h5 class="card-title">'@Date.ToString("yy") Holidays</h5>
        <h5 class="card-title holidays-text">@RemainingHolidays</h5>
        <h6 class="card-subtitle mb-2 text-muted">Remaining</h6>
        <h6 class="card-subtitle mb-2"><span class="next-text">Next:</span> @NextHolidayAfterDate.Date.ToString("MM/dd/yyyy")</h6>
    </div>
</div>