

<div class="row">
    <div class="col-12">
        <h5 class="header">Accrued PTO Hours</h5>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h6><strong>Vacation</strong></h6>
        <h6 class="hours-avail-text">@VacationHoursAvailable</h6>
    </div>
    <div class="col text-center">
        <h6><strong>Sick</strong></h6>
        <h6 class="hours-avail-text">@SickHoursAvailable</h6>
    </div>
    <div class="col text-center">
        <h6><strong>Personal</strong></h6>
        <h6 class="hours-avail-text">@PersonalHoursAvailable</h6>
    </div>
</div>